<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dorcohen.scavjunkbox">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <application
        android:name=".ScavApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_scav_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_scav_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scavjunkbox_main">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.dorcohen.scavjunkbox.service.NotificationListener"
            android:label="@string/notification_listener_service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>